*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#081229;
color:white;
}

header{
position:fixed;
width:100%;
top:0;
backdrop-filter:blur(20px);
z-index:100;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo{
font-size:30px;
font-weight:bold;
color:#8a63ff;
}

.nav-links{
display:flex;
gap:35px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
transition:.4s;
}

.nav-links a:hover{
color:#8a63ff;
}

section{
padding:120px 8%;
}

#home{
display:flex;
justify-content:space-between;
align-items:center;
min-height:100vh;
}

.hero-text{
max-width:550px;
}

.hero-text h1{
font-size:65px;
}

.hero-text span{
color:#8a63ff;
}

.hero-text p{
margin:20px 0;
line-height:30px;
}

.btn{
padding:15px 35px;
background:#8a63ff;
border-radius:50px;
text-decoration:none;
color:white;
display:inline-block;
margin-right:15px;
transition:.4s;
}

.outline{
background:none;
border:2px solid #8a63ff;
}

.btn:hover{
transform:translateY(-5px);
}

.hero-img img{
width:450px;
animation:float 4s infinite ease-in-out;
}

@keyframes float{

50%{
transform:translateY(-20px);
}

}

.title{
text-align:center;
font-size:40px;
margin-bottom:60px;
}

.about-box{
display:flex;
justify-content:space-between;
gap:50px;
}

.counter{
display:flex;
gap:30px;
}

.counter div{
background:#162447;
padding:30px;
border-radius:15px;
text-align:center;
}

.skills{
max-width:700px;
margin:auto;
}

.skill{
margin:30px 0;
}

.bar{
height:10px;
background:#333;
border-radius:20px;
overflow:hidden;
}

.progress{
height:100%;
background:#8a63ff;
width:0;
transition:2s;
}

.html{width:95%;}
.css{width:90%;}
.js{width:80%;}
.responsive{width:92%;}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.card{
background:#162447;
padding:40px;
border-radius:20px;
transition:.5s;
text-align:center;
}

.card:hover{
transform:translateY(-15px);
}

.card i{
font-size:45px;
color:#8a63ff;
margin-bottom:20px;
}

form{
display:flex;
flex-direction:column;
gap:20px;
max-width:600px;
margin:auto;
}

input,textarea{
padding:18px;
border:none;
border-radius:10px;
}

button{
padding:18px;
border:none;
background:#8a63ff;
color:white;
border-radius:10px;
cursor:pointer;
}

footer{
padding:40px;
text-align:center;
}

.dark{
background:white;
color:black;
}

@media(max-width:900px){

#home,
.about-box{
flex-direction:column;
text-align:center;
}

.hero-img img{
width:300px;
}

.nav-links{
display:none;
}

}
